body {
    font-family: 'GTF Good Sans TRIAL', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
/*columns*/
.page-wrapper {
    margin: 0;
    text-align: left;
    padding-left: 140px;
    padding-right: 140px;
  
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

/*nav*/
nav {
    height: 90px;
    position: relative;
}
nav .logo {
    padding-left: 140px;
    padding-top: 17px;
    display: inline-block;
    float: left;
}
nav ul {
    margin: 0;
    list-style: none;
    padding-right: 140px;
}
nav li {
    float: right;
    display: inline-block;
    padding-left: 100px;
    padding-top: 30px;
}
nav a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
/*triple column*/
.main-column {
  background-color: #FCB516;
  height: 490px;
}
.main-column h1 {
    padding-left: 140px;
    padding-top: 20px;
    font-size: 62px;
}
.main-column p {
    padding-left: 140px;
    padding-bottom: 80px;
    padding-right: 140px;
    font-size: 26px;
}
.button {
    display: inline-block;
    padding: 5px 10px;
    border: 3px solid #000;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}
.button:hover {
    color: #FFFFFF;
    background: #000000;
}
/*left column*/
.left-column {
    height: 450px;
    width: 400px;    
}
/*footer*/
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    height: 90px;
    background: #CB5EEE;
    color: #FFFFFF:
}
.footer p {
    margin: 0;
    padding-top: 37px;
    padding-left: 140px;
    display: inline-block;
    float: left;
}
#social-icons {
    padding-top: 30px;
    position: relative;
    padding-right: 140px;
    float: right;
    display: inline-block;
}
#social-icons img {
    width: 25px;
    height: 25px;
    padding-left: 50px;
}
#social-icons a {
    text-align: right;
    display: inline-block;
}
/*checkout*/
.buttn {
    display: inline-block;
    padding: 10px 10px;
    border: 3px solid #000;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background: #000;
}
.buttn:hover {
    color: #000;
    background: #fff;
}
.btns .bt{
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid #000;
    border-radius: 4px;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    background: #000;
}

.btns .bt:hover {
    color: #000;
    background: #fff;
}